body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}


/* media queries */
/* the h1 is red when it's exactly 800px */
@media (width: 800px) {
    h1 {
        color: red;
    }
}

/* anything 801px and above */
@media (min-width: 801px) {
    h1 {
        color: greenyellow
    }
}

/* anything 799px or below */
@media (max-width: 799px) {
    h1 {
        color: blueviolet;
    }
}

/* between 600px and 800px */
@media (min-width: 600px) and (max-width: 800px) {
    h1 {
        text-decoration: line-through;
    }
}

/* when the display is on orientation */
@media (orientation: portrait) {
    body {
        background-color: blue;
    }

    h1 {
        color: white;
    }

    a {
        color: white;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}