* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #e63946;
    color: white; 
}

div {
    /* setting the width of the paragraph to 50% width */
    width: 50%;
    background: #e63946;
    color: #fff;
    /* creates even space, as a result it centers the paragraph */
    margin-bottom: 10%;
    height: 40%;
    /* adding space between the content box and the border */
    padding: 20px;
}

div:hover {
    /* border & border-radius */
    border: 4px #000 solid;
    border-radius: 30px;
}