h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align:center;
    /* top & bottom margin | auto <-- will center the content inside it's container */
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}

/* rotating the first H1 in the first Section */
section:first-of-type h1:nth-of-type(1){
    /* transform-origin: top right; */
    transform: rotate(45deg);
}
section:first-of-type h1:nth-of-type(2){
    /* the scale property messes with its size, this one is 0.6 the original size */
    transform: scale(0.6);
}

section:first-of-type h1:nth-of-type(3){
    transform: translateX(200px);
}
section:first-of-type h1:nth-of-type(4){
    transform: translate(-100px, 50px);
}

section:nth-of-type(2) h1:nth-of-type(1){
    transform: skew(30deg);
}
section:nth-of-type(2) h1:nth-of-type(2){
    /* accepts deg, two dimensional at an angle  */
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3){
    transform: rotate(-20deg) scale(1.3);
}
section:nth-of-type(2) h1:nth-of-type(4){
    /* moves left | rotates | bigger by 1.5 times */
    transform: translateX(-500px) rotate(0.5turn) scaleY(1.5);
}

/* alter the second section container */
section:nth-of-type(2) {
    /* the translateX moves it horizontally */
    transform: scale(0.7) translateX(500px);
}