body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    /* the colors are reverse in their order, of the main axis */
    /* flex-direction: row-reverse; */
    /* columns are stacked on the main-axis */
    /* justify-content is spaced evenly between container and elements */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#container div {
    height: 200px;
    width: 400px;
}

