body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    /* the colors are reverse in their order, of the main axis */
    /* flex-direction: row-reverse; */
    /* columns are stacked on the main-axis */
    /* justify-content is spaced evenly between container and elements */
    display: flex;
    flex-direction: column;
    /* main-axis */
    justify-content: center;
    /* cross-axis */
    align-items: flex-end;
    flex-wrap: wrap;
    /* align-content only works when we have flex-wrap assigned */
    align-content: space-around;
    /* moves the elements on a cross-axis to the center */
    /* align-items: center; */
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#container div {
    height: 200px;
    width: 200px;
    font-size: 4em;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

